In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("weatherdata.csv", header =0)

In [70]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,month,day,MaxTemp_C,is_raining,WCI
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not Rainy,643.516918
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not Rainy,840.511893
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not Rainy,649.698327
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not Rainy,844.657118
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not Rainy,519.734257

In [5]:
data.shape

(142193, 9)

# Dataframes - filtering

### Find the days which had sunshine for more that 4 hours. 
### These days will have increased sales of sunscreen.

In [6]:
data["Sunshine"]>4

(data.Sunshine >4).sum()

58898

In [71]:
data[data.Sunshine>4]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,month,day,MaxTemp_C,is_raining,WCI
5939,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,2009,1,1,95.36,Not Rainy,479.908688
5940,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,2009,1,2,84.02,Not Rainy,501.183329
5941,2009-01-03,Cobar,15.5,34.1,0.0,12.6,13.3,SE,30.0,2009,1,3,93.38,Not Rainy,617.264476
5942,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,2009,1,4,99.68,Not Rainy,439.596878
5943,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,2009,1,5,101.12,Not Rainy,390.471844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139108,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,2017,6,20,92.12,Not Rainy,474.852930
139109,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,2017,6,21,90.68,Not Rainy,405.065979
139110,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,2017,6,22,91.04,Not Rainy,429.831206
139111,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,2017,6,23,89.24,Not Rainy,479.117634
139112,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,2017,6,24,89.06,Not Rainy,451.484874

### The cold drink sales will most likely increase on the days which have high sunshine(>5) and high max temperature(>35). Use the filter operation to filter out these days

In [72]:
data[ ( (data.Sunshine > 5) & (data.MaxTemp >35))]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,month,day,MaxTemp_C,is_raining,WCI
5939,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,2009,1,1,95.36,Not Rainy,479.908688
5942,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,2009,1,4,99.68,Not Rainy,439.596878
5943,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,2009,1,5,101.12,Not Rainy,390.471844
5944,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,2009,1,6,105.80,Not Rainy,305.015021
5948,2009-01-10,Cobar,19.0,35.5,0.0,12.0,12.3,ENE,48.0,2009,1,10,95.90,Not Rainy,444.948452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138862,2016-10-17,Darwin,25.1,35.2,0.0,7.4,11.5,NNE,39.0,2016,10,17,95.36,Not Rainy,268.204842
138879,2016-11-03,Darwin,24.4,35.5,0.0,7.8,9.9,NW,35.0,2016,11,3,95.90,Not Rainy,298.082861
138892,2016-11-16,Darwin,25.7,35.2,0.0,5.4,11.3,NW,26.0,2016,11,16,95.36,Not Rainy,259.078424
138905,2016-11-29,Darwin,25.8,35.1,0.8,4.8,6.4,SSE,46.0,2016,11,29,95.18,Not Rainy,232.727759
138910,2016-12-04,Darwin,25.8,35.2,0.0,NaN,12.0,ESE,33.0,2016,12,4,95.36,Not Rainy,251.608511

### Create new columns : DatetimeIndex

In [73]:
pd.DatetimeIndex(data.Date)

DatetimeIndex(['2008-12-01', '2008-12-02', '2008-12-03', '2008-12-04',
               '2008-12-05', '2008-12-06', '2008-12-07', '2008-12-08',
               '2008-12-09', '2008-12-10',
               ...
               '2017-06-15', '2017-06-16', '2017-06-17', '2017-06-18',
               '2017-06-19', '2017-06-20', '2017-06-21', '2017-06-22',
               '2017-06-23', '2017-06-24'],
              dtype='datetime64[ns]', name='Date', length=142193, freq=None)

In [74]:
data["Year"] = pd.DatetimeIndex(data.Date).year
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,month,day,MaxTemp_C,is_raining,WCI
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not Rainy,643.516918
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not Rainy,840.511893
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not Rainy,649.698327
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not Rainy,844.657118
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not Rainy,519.734257

In [75]:
pd.DatetimeIndex(data.Date).month

Int64Index([12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
            ...
             6,  6,  6,  6,  6,  6,  6,  6,  6,  6],
           dtype='int64', name='Date', length=142193)

In [76]:
pd.DatetimeIndex(data.Date).day

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
            ...
            15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
           dtype='int64', name='Date', length=142193)

In [77]:
data["month"] = pd.DatetimeIndex(data.Date).month
data["day"] = pd.DatetimeIndex(data.Date).day
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,month,day,MaxTemp_C,is_raining,WCI
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not Rainy,643.516918
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not Rainy,840.511893
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not Rainy,649.698327
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not Rainy,844.657118
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not Rainy,519.734257

### convert temperature from F to C and save it

In [78]:
data["MaxTemp_C"] = data.MaxTemp * 9/5 +32
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,month,day,MaxTemp_C,is_raining,WCI
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not Rainy,643.516918
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not Rainy,840.511893
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not Rainy,649.698327
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not Rainy,844.657118
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not Rainy,519.734257

### Lambda functions
### Let's create a new column which highlights the days which have rainfall more than 50 mm as rainy days and the rest are not.

In [79]:
 data["is_raining"] = data.Rainfall.apply(lambda x : "Rainy" if x > 50  else "Not Rainy")  
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,month,day,MaxTemp_C,is_raining,WCI
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not Rainy,643.516918
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not Rainy,840.511893
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not Rainy,649.698327
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not Rainy,844.657118
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not Rainy,519.734257

In [16]:
data[data.is_raining=="Rainy"]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,month,day,MaxTemp_C,is_raining
429,2010-02-05,Albury,19.2,26.1,52.2,NaN,NaN,SE,33.0,2010,2,5,78.98,Rainy
455,2010-03-08,Albury,18.1,25.5,66.0,NaN,NaN,NW,56.0,2010,3,8,77.90,Rainy
690,2010-10-31,Albury,13.8,18.7,50.8,NaN,NaN,NNW,52.0,2010,10,31,65.66,Rainy
704,2010-11-14,Albury,19.2,22.6,52.6,NaN,NaN,N,26.0,2010,11,14,72.68,Rainy
787,2011-02-05,Albury,20.4,23.0,99.2,NaN,NaN,NW,28.0,2011,2,5,73.40,Rainy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140532,2017-02-03,Katherine,23.4,33.0,62.0,NaN,NaN,NNW,33.0,2017,2,3,91.40,Rainy
140571,2017-03-14,Katherine,23.0,35.0,79.0,31.0,NaN,ESE,22.0,2017,3,14,95.00,Rainy
140578,2017-03-22,Katherine,24.1,34.5,61.4,NaN,NaN,N,31.0,2017,3,22,94.10,Rainy
142013,2016-12-26,Uluru,22.1,27.4,83.8,NaN,NaN,ENE,72.0,2016,12,26,81.32,Rainy
142014,2016-12-27,Uluru,22.1,35.8,63.8,NaN,NaN,WNW,43.0,2016,12,27,96.44,Rainy

# Grouping and Agg functions

### Find the location which received the most amount of rain in the given data. In this place, certain promotional offers can be put in place to boost sales of tea, umbrella etc.

In [80]:
# Location which receives max rainfal
data[data.Rainfall == data.Rainfall.max()]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,month,day,MaxTemp_C,is_raining,WCI
9236,2009-11-07,CoffsHarbour,17.4,23.1,371.0,NaN,3.5,NaN,NaN,2009,11,7,73.58,Rainy,NaN

In [18]:
# find the average rain received in the locations , ie, group by location
# Note : groupby needs some operaton to be done eg: mean
# sort the results to get the location which receives max rainfall

In [81]:
data_groupby_location = data.groupby(by = data.Location).mean()
data_groupby_location
data_groupby_location.sort_values("Rainfall" , ascending=False)

# Location which receives most rainfall = Cairns

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,month,day,MaxTemp_C,WCI
Location,,,,,,,,,,,
Cairns,21.199197,29.544344,5.765317,6.211976,7.575995,38.067991,2012.677376,6.363454,15.720214,85.179819,398.344135
Darwin,23.210530,32.540977,5.094048,6.319089,8.499310,40.582355,2012.502820,6.534461,15.716792,90.573759,325.830778
CoffsHarbour,14.365774,23.915575,5.054592,3.904267,7.362374,39.232197,2012.749746,6.392482,15.716898,75.048035,616.673164
GoldCoast,17.341490,25.752971,3.728933,NaN,NaN,42.472539,2012.683221,6.435906,15.717114,78.355347,511.818795
Wollongong,14.949058,21.476510,3.589127,NaN,NaN,45.695257,2012.743882,6.423734,15.694268,70.657718,567.004766
Williamtown,12.820376,24.147020,3.510985,6.957167,7.140044,41.753695,2012.704269,6.322366,15.890717,75.464635,658.972617
Townsville,20.411250,29.362974,3.488603,7.197113,8.460627,38.804052,2012.724036,6.410814,15.703924,84.853353,425.334992
NorahHead,15.375197,22.607900,3.382479,NaN,NaN,42.215043,2012.804712,6.319222,15.760328,72.694220,571.623176
Sydney,14.865057,23.002339,3.330231,5.187432,7.179374,41.761408,2012.300869,6.413545,15.705424,73.404210,586.957834
MountGinini,3.651193,11.777947,3.245241,NaN,NaN,46.188214,2012.835225,6.429309,15.688682,53.200304,918.360238
Brisbane,16.410998,26.441527,3.160536,5.408848,8.082782,28.211380,2012.496678,6.556786,15.719076,79.594748,578.431984
Newcastle,13.740240,24.098283,3.153022,NaN,NaN,NaN,2012.706599,6.441624,15.707953,75.376909,NaN
NorfolkIsland,16.839960,21.792746,3.137568,4.738026,7.021751,42.639973,2012.724696,6.351889,15.684211,71.226943,525.857701
Katherine,20.534983,34.939037,3.135599,7.333198,NaN,38.758328,2014.827453,6.355356,15.672867,94.890267,419.715357
SydneyAirport,14.894041,23.378902,2.995335,5.252450,7.198126,47.222072,2012.774709,6.355075,15.711814,74.082023,569.529731
Witchcliffe,10.756861,21.699423,2.899658,NaN,NaN,39.980259,2012.781504,6.351965,15.730352,71.058962,736.404406
Walpole,11.915711,20.566821,2.877329,NaN,NaN,39.753051,2012.819794,6.266407,15.743526,69.020277,697.171603
Portland,9.585537,18.055626,2.531032,3.421514,6.496751,42.058883,2012.778037,6.352804,15.724633,64.500127,756.819970
Albany,12.948461,20.072587,2.255073,4.207273,6.658765,NaN,2012.708554,6.413130,15.680371,68.130657,NaN
BadgerysCreek,11.136900,24.023111,2.207925,NaN,NaN,33.609890,2012.790984,6.326161,15.769467,75.241600,740.499824
Tuggeranong,7.245612,20.777444,2.159040,NaN,NaN,35.189615,2012.741494,6.417945,15.701801,69.399399,873.646829
Richmond,11.346070,24.449813,2.152581,5.259336,NaN,34.860354,2012.802779,6.363606,15.667570,76.009664,731.326860
Dartmoor,8.619816,19.694427,2.148554,3.353097,6.412715,38.896904,2012.857628,6.458376,15.749575,67.449969,809.405281
Penrith,12.533649,24.731984,2.135143,NaN,NaN,31.794386,2012.763158,6.405870,15.687247,76.517571,694.005637
MountGambier,8.827468,19.828128,2.087359,3.437072,6.511167,42.869099,2012.717822,6.412211,15.711881,67.690631,783.988327
Launceston,7.833818,18.956231,2.012219,6.166667,NaN,35.630877,2012.723250,6.409841,15.706407,66.121217,842.464124
Albury,9.520899,22.630963,1.925710,NaN,NaN,32.953016,2012.733643,6.412488,15.745932,72.735734,797.369688
Perth,12.922706,25.034837,1.906295,5.606579,8.784536,34.882999,2012.504228,6.534294,15.719699,77.062707,687.348150
Watsonia,10.126228,20.883528,1.847692,4.640788,6.378152,38.057297,2012.770590,6.351117,15.720907,69.590350,760.533663
Melbourne,11.788127,20.860148,1.837772,4.595893,6.465776,45.425444,2011.949897,6.700616,15.769199,69.548266,669.471656
PerthAirport,12.580359,25.533234,1.761648,5.662832,8.795306,44.201822,2012.779661,6.353274,15.712529,77.959821,661.811260
Canberra,6.827688,20.980644,1.735038,4.404717,7.403241,40.082174,2012.164131,6.461966,15.736396,69.765160,867.694351
WaggaWagga,9.562030,22.961290,1.706085,5.159061,8.197864,36.566147,2012.736559,6.362231,15.696237,73.330323,788.910465
Ballarat,7.355302,18.274794,1.688830,NaN,NaN,44.978695,2012.732166,6.422061,15.727543,64.894628,821.975900
PearceRAAF,12.386314,26.271049,1.634354,NaN,8.894160,43.448549,2012.840333,6.255974,15.690442,79.287888,673.840425
Bendigo,8.591065,21.616683,1.621452,3.851730,NaN,38.849283,2012.723138,6.415953,15.723467,70.910030,815.013376
Hobart,9.079141,17.866677,1.604273,3.601226,6.578324,47.531398,2012.502196,6.535759,15.720201,64.160019,740.074931
Moree,12.786255,26.886861,1.603296,7.629964,8.896590,39.799425,2012.688858,6.376664,15.580589,80.396349,677.392343
Adelaide,12.628368,22.945402,1.572185,5.824924,7.752002,36.530812,2012.525890,6.523948,15.740453,73.301723,688.649377
Sale,8.561220,20.271024,1.512667,3.830098,6.683663,42.474529,2012.771000,6.353333,15.728000,68.487843,785.123265
MelbourneAirport,9.973945,20.491858,1.451977,4.644378,6.381283,46.919172,2012.779661,6.353274,15.712529,68.885344,720.008771
Nuriootpa,9.366433,21.714658,1.381375,5.084132,7.675888,40.660720,2012.776482,6.349767,15.715190,71.086384,779.892644
Cobar,13.120342,25.834081,1.129262,6.720797,8.674364,36.728814,2012.766064,6.343708,15.686412,78.501346,676.708251
SalmonGums,9.302578,24.249204,1.032302,NaN,NaN,39.761086,2012.814552,6.361421,15.710321,75.648567,787.950366
Mildura,10.733954,24.841536,0.945025,5.935952,8.468104,37.170829,2012.778849,6.354506,15.708680,76.714766,750.802573
Nhil,8.992798,22.398407,0.932907,NaN,NaN,42.542438,2014.838751,6.377310,15.729127,72.317132,781.483370
AliceSprings,13.125182,29.244191,0.869355,9.029929,9.581944,40.533714,2012.719565,6.407456,15.689211,84.639545,666.555008
Uluru,14.406983,30.387442,0.707324,NaN,NaN,41.369231,2014.852728,6.447074,15.712689,86.697396,620.197469
Woomera,13.313898,26.542135,0.489946,10.116654,9.063005,44.080962,2012.773579,6.344816,15.692308,79.775843,637.003111

### Hot chocolate is the most sold product in the cold months. Find month which is the coldest so that the inventory team can keep the stock of hot chocolate ready well in advance.

In [82]:
#groupby month and find the coldest
#data.groupby(by="month").ag

data_groupby_month = data.groupby(by = data.month).mean()
data_groupby_month.sort_values("MinTemp" , ascending=True)

# Month which is coldest= July

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,day,MaxTemp_C,WCI
month,,,,,,,,,,
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636,863.519699
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074,836.501471
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600,845.755217
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517,762.816683
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964,787.434259
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252,697.875616
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320,680.791840
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028,612.435126
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503,561.241935
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138,570.372892
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867,511.722359
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252,504.169996

# Apply custom forumla to groupby

$ WCI = (10 * \sqrt{v} - v + 10.5) .(33 - T_{m}) $

v is the speed of the wind and $ T_{m} $ is the minimum temperature

Add a column for WCI and find the month with the lowest WCI.

In [52]:
from math import sqrt

def funcWCI(x): 
    v= x.WindGustSpeed
    m=x.MinTemp
    return ((10 * sqrt(v) - v + 10.5)*(33 - (m)))
       
    

data['WCI'] = data.apply(funcWCI,axis=1) 
data.head()
data_groupby_wci = data.groupby(by = data.month).mean()
data_groupby_wci.sort_values("WCI")


#Month with lowest WCI = Jan

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,day,MaxTemp_C,WCI
month,,,,,,,,,,
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252,504.169996
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867,511.722359
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503,561.241935
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138,570.372892
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028,612.435126
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320,680.791840
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252,697.875616
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517,762.816683
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964,787.434259
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074,836.501471
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600,845.755217
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636,863.519699

# Merging Dataframes

## read data from junesales.csv and merge with weatherdata.csv
#### total tea for the Newcastle store for the month of June 2011 is given in the file names `junesales.csv`
#### merge the Newcastle store data for june month with tea sales on given dates with weather data

In [149]:
junesales = pd.read_csv("junesales.csv")
junesales["day"] = pd.DatetimeIndex(junesales.Date).day
junesales.head()
junesales.shape

(30, 3)

In [181]:
#Merge columns = localtion =Newcastle  ,  month =6 , dayOfMonth = 1,,3,4,5
newCastle_data = data[((data.Location == "Newcastle") & (data.month==6) & (data.Year==2011))]
mergedata = newCastle_data.merge(junesales , on ="day")
mergedata.columns

Index(['Date_x', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'Year', 'month', 'day',
       'MaxTemp_C', 'is_raining', 'WCI', 'Date_y', 'Tea_sales(in 100's)'],
      dtype='object')

#### Types of joins. 

* LEFT JOIN  : Keep all data in left, merge data from right on only those which match

* RIGHT JOIN : Keep all data in right, merge data from left on only those which match

* FULL JOIN : union of both data

* INNER JOIN : Intersection of both data

##### Map location in "data" to state from another data "locationsandstates.csv"

In [187]:
#state inforation
state = pd.read_csv("locationsandstates.csv", header = 0)
state

          Location              State
0           Sydney   New South Wales
1           Albury   New South Wales
2         Armidale   New South Wales
3         Bathurst   New South Wales
4   Blue Mountains   New South Wales
..             ...                ...
71       Joondalup  Western Australia
72      Kalgoorlie  Western Australia
73        Karratha  Western Australia
74        Mandurah  Western Australia
75      Rockingham  Western Australia

[76 rows x 2 columns]

In [219]:

dataWithState = data.merge(state , on = "Location" , how = "left")
dataWithState.columns
dataWithState.shape

(142193, 16)

In [204]:

dataWithState_Right = data.merge(state , on = "Location" , how = "right")
dataWithState_Right.columns
data.shape
dataWithState_Right.shape

(142193, 15)

In [216]:
dataWithState_inner = data.merge(state , on = "Location" , how = "inner")
dataWithState_inner.shape

(57529, 16)

In [226]:
dataWithState_outer = data.merge(state , on = "Location" , how = "outer" , indicator=True)
dataWithState_outer._merge.unique()
#dataWithState_outer[(dataWithState_outer._merge!='both')]

['both', 'left_only', 'right_only']
Categories (3, object): ['left_only', 'right_only', 'both']

## Pivot table

#### Using pivot tables find the average monthly rainfall in the year 2016 of all the locations. The information can then be used to predict the sales of tea in the year 2017.

In [245]:
# avg monthly raifall in 2016
data_2016 = data[(data.Year==2016)]
#groupby can be only done on 1 column and agg func applies to all the columns
#eg, groupby location, will give agv rainfall for all year not per month
# use pivot table to groupby location and also month for interested values, ie rainfall
data_2016.pivot_table(index = "Location", columns = "month", values =["Rainfall", "WCI"], aggfunc='mean')

                   Rainfall                                           \
month                    1         2          3         4         5
Location
Adelaide           1.703226  0.634483   1.735484  0.320000  2.838710
Albany             2.380645  0.748276   1.144828  3.153333  3.158065
Albury             2.206452  1.013793   0.961290  0.546667  3.477419
AliceSprings       1.290323  0.910345   0.522581  0.000000  1.832258
BadgerysCreek      5.012903  0.441379   1.019355  0.346667  0.380645
Ballarat           1.358621  0.355556   1.180645  0.460000  2.303226
Bendigo            1.117241  0.162963   1.077419  0.493333  2.677419
Brisbane           0.972414  0.523077   3.787097  0.426667  0.890323
Cairns             9.316129  4.689655   8.329032  4.593103  9.336842
Canberra           3.432258  0.806897   0.916129  0.226667  1.535484
Cobar              0.728571  0.062069   2.344828  1.313333  2.438710
CoffsHarbour       3.129032  1.086207   2.345161  3.876667  0.112903
Dartmoor           0.606897  1.420690   0.922581  1.133333  3.238710
Darwin             5.477419  5.186207   3.735484  1.546667  2.012903
GoldCoast          3.360000  2.336000   1.745455  3.764286  0.600000
Hobart             1.296774  0.751724   0.548387  0.293333  3.096774
Katherine          8.112903  3.889655   3.245161  0.626667  1.438710
Launceston         4.961290  0.848276   1.596774  0.920000  4.312903
Melbourne               NaN       NaN        NaN       NaN  1.838710
MelbourneAirport   1.445161  0.151724   0.877419  1.213333  1.516129
Mildura            2.200000  0.006897   0.012903  0.100000  1.400000
Moree              3.270588  0.110345   0.347826  0.453333  1.122581
MountGambier       0.425806  1.668966   0.916129  1.046667  3.438710
MountGinini        4.690323  1.427586   1.767742  0.520000  3.432258
Newcastle         13.851613  2.475000   2.280645  2.140000  0.458065
Nhil               1.193548  0.496296   1.116129  0.220000  1.322581
NorahHead          7.013793  0.600000   4.980645  1.813333  0.412903
NorfolkIsland      4.419355  9.165517   8.841379  2.740000  3.880645
Nuriootpa          0.967742  0.424138   1.470968  0.483333  2.862069
PearceRAAF         0.696552  0.034483   3.283871  2.273333  2.909677
Penrith            9.929032  0.072000   0.541935  0.406667  0.268966
Perth              0.490323  0.020690   0.541935  2.273333  3.612903
PerthAirport       0.754839  0.027586   0.690323  2.053333  3.419355
Portland           0.944828  2.806897   0.961290  1.386667  4.658065
Richmond           8.593548  0.525926   0.441379  0.286667  0.135484
Sale               3.613793  0.213793   1.954839  0.866667  1.219355
SalmonGums         1.331034  0.496552   1.670968  1.093333  1.148387
Sydney             8.058065  0.889655   6.232258  5.166667  0.232258
SydneyAirport      8.477419  1.393103   5.025806  2.700000  0.432258
Townsville         2.470968  3.262069  18.000000  0.700000  0.012903
Tuggeranong        3.234483  1.162963   1.875862  0.235714  1.200000
Uluru              0.081481  0.491667   0.935484  0.006667  2.406452
WaggaWagga         1.780645  0.558621   1.077419  0.360000  3.813793
Walpole            3.584000  1.427586   1.151724  4.221429  4.870968
Watsonia           1.207407  0.324138   0.890323  1.700000  1.722581
Williamtown       13.625806  1.117241   1.474074  5.585185  0.361290
Witchcliffe        0.296296  0.324138   0.551724  1.735714  6.238710
Wollongong         5.735484  1.710345   6.587097  1.820000  0.316129
Woomera            0.012903  0.524138   0.774194  0.033333  0.945161

                                                                     ...  \
month                    6         7         8         9         10  ...
Location                                                             ...
Adelaide           3.173333  3.612903  1.896774  4.373333  2.612903  ...
Albany             4.010000  3.954839  3.777419  3.426667  2.025806  ...
Albury             2.866667  3.767742  2.400000  4.740000  1.980645  ...
AliceSprings       0.933333  0.000000  0.658065  1.640000  0.109677  ...
BadgerysCreek      8.346667  1.438710  1.890323  1.826667  0.458065  ...
Ballarat           2.353333  3.012903  2.051613  5.940000  3.303226  ...
Bendigo            1.913333  2.961290  2.612903  5.113333  1.883871  ...
Brisbane           8.826667  0.909677  1.019355  1.726667  0.974194  ...
Cairns             2.220000  2.741935  1.348387  4.500000  2.427273  ...
Canberra           4.806667  2.290323  1.490323  4.973333  1.406452  ...
Cobar              3.586667  1.058065  1.948387  3.406667  0.658065  ...
CoffsHarbour      11.350000  0.732258  5.706452  1.163333  0.841935  ...
Dartmoor           5.053333  4.116129  2.780645  3.640000  2.341935  ...
Darwin             0.000000  0.000000  0.000000  2.146667  4.219355  ...
GoldCoast         10.042857  0.607407  2.407407  1.284615  1.264000  ...
Hobart             3.846667  2.554839  0.509677  3.140000  2.690323  ...
Katherine          0.000000  0.179310  0.000000  1.933333  0.141935  ...
Launceston         4.483333  4.545161  2.083871  2.706667  2.377419  ...
Melbourne          1.813333  2.070968  1.974194  2.906667  2.045161  ...
MelbourneAirport   2.213333  2.045161  0.987097  3.326667  2.496774  ...
Mildura            0.606667  0.619355  0.993548  3.120000  0.800000  ...
Moree              2.106667  0.470968  1.612903  4.620000  1.832258  ...
MountGambier       5.433333  4.948387  2.779310  3.921429  2.290323  ...
MountGinini        9.153333  6.354839  2.277419  7.110345  3.600000  ...
Newcastle          6.713333  1.787097  1.674194  1.866667  1.813793  ...
Nhil               1.446667  1.993548  1.083871  3.113333  1.903226  ...
NorahHead          6.506667  2.664516  2.432258  2.306667  1.941935  ...
NorfolkIsland      3.920000  2.161290  3.516129  2.440000  1.290323  ...
Nuriootpa          3.140000  2.437931  2.054839  6.036667  1.512903  ...
PearceRAAF         3.140000  3.845161  4.329032  1.664286  1.307143  ...
Penrith            6.980000  1.776000  1.574194  1.666667  0.400000  ...
Perth              3.646667  4.503226  3.974194  2.293333  1.206452  ...
PerthAirport       2.880000  4.174194  4.245161  2.060000  1.219355  ...
Portland           4.000000  5.425806  3.522581  5.471429  3.703226  ...
Richmond           6.306667  1.845161  1.987097  1.846667  0.438710  ...
Sale               2.433333  3.303226  0.845161  1.207143  2.259259  ...
SalmonGums         1.906667  1.051613  1.729032  0.900000  0.374194  ...
Sydney            10.166667  3.374194  4.883871  2.333333  1.012903  ...
SydneyAirport      9.313333  3.683871  4.238710  2.260000  1.103226  ...
Townsville         1.966667  1.716129  0.677419  0.242857  0.264516  ...
Tuggeranong        6.133333  2.077419  1.232258  5.033333  1.392593  ...
Uluru              2.681481  0.690323  0.935484  0.520000  0.064516  ...
WaggaWagga         2.820000  2.987097  1.896774  5.700000  2.064516  ...
Walpole            5.408333  6.379310  6.448276  5.092857  2.928571  ...
Watsonia           2.393333  2.051613  1.780645  2.792857  3.048276  ...
Williamtown        5.230000  1.696774  1.800000  1.660000  2.406452  ...
Witchcliffe        7.650000  7.806452  7.348387  4.364286  2.751724  ...
Wollongong        14.553333  3.483871  3.612903  1.580000  0.200000  ...
Woomera            1.890000  0.222581  0.890323  1.500000  0.335484  ...

                         WCI                                       \
month                     3           4           5            6
Location
Adelaide          566.347231  716.164914  699.991482   820.235009
Albany                   NaN         NaN         NaN          NaN
Albury            591.537906  822.519401  845.261926   929.198944
AliceSprings      428.043852  691.956832  766.025241   850.696799
BadgerysCreek     577.831904  691.929907  883.257939   866.118530
Ballarat          662.713161  783.571537  797.691730   950.601825
Bendigo           590.596095  797.784834  846.876982   973.918045
Brisbane          433.066648  504.493978  627.986492   674.233060
Cairns            308.651609  327.719496  369.242223   443.915691
Canberra          683.989281  847.863077  899.195707   996.263304
Cobar             475.428951  609.188856  772.263403   868.225224
CoffsHarbour      476.254914  548.701448  750.757126   769.714867
Dartmoor          686.092220  796.259278  795.051735   953.190721
Darwin            226.330721  267.471732  280.802694   339.172781
GoldCoast         379.529874  434.523376  569.933822   612.541215
Hobart            680.729334  701.889337  669.996954   836.337867
Katherine         289.550922  401.232196  398.971741   538.480399
Launceston        738.241137  835.197931  831.067564   950.966095
Melbourne                NaN         NaN  714.758078   842.603861
MelbourneAirport  613.553210  683.375724  684.471682   827.094350
Mildura           551.866674  757.375307  805.333188   937.592800
Moree             437.559429  598.598939  781.048990   839.846749
MountGambier      679.141602  768.804164  756.116064   919.897221
MountGinini       816.252571  921.798664  844.691798  1003.281993
Newcastle                NaN         NaN         NaN          NaN
Nhil              633.480926  767.741690  747.036916   925.518191
NorahHead         459.556345  513.128383  662.744427   692.913783
NorfolkIsland     413.640423  463.657680  488.989587   518.062829
Nuriootpa         640.520913  805.801035  754.875616   866.420558
PearceRAAF        521.546141  602.384858  827.816785   818.786902
Penrith           514.310151  627.222493  812.032439   824.393516
Perth             524.278355  613.015305  781.592719   838.843901
PerthAirport      500.412684  613.973070  784.655791   819.069410
Portland          664.617986  768.319176  709.801344   837.385565
Richmond          563.310360  697.245363  888.176751   863.326789
Sale              630.354491  830.652954  771.160125   952.518617
SalmonGums        622.613899  737.302833  905.310318   960.714895
Sydney            447.659076  559.173972  665.210705   697.258273
SydneyAirport     426.416090  539.640915  663.883739   689.733070
Townsville        300.936871  370.587472  405.089325   519.404299
Tuggeranong       682.416892  855.461803  970.485400  1017.105000
Uluru             375.695891  594.271246  744.018277   818.179052
WaggaWagga        558.948033  775.623214  852.332105   899.913018
Walpole           620.169618  666.669235  714.236973   782.122547
Watsonia          634.049780  741.731323  744.544066   887.334430
Williamtown       524.696947  632.678590  717.588873   728.969538
Witchcliffe       650.033498  676.006743  726.231520   798.375918
Wollongong        470.150146  531.493714  606.494466   623.769200
Woomera           434.863814  617.540447  734.185818   821.210195

                                                                     \
month                      7            8            9           10
Location
Adelaide           830.133946   846.463124   810.321356  737.634843
Albany                    NaN          NaN          NaN         NaN
Albury             917.342918  1002.719702   873.817686  841.009944
AliceSprings       966.234827   900.877463   760.438471  697.136717
BadgerysCreek      912.010339   957.656338   821.458697  774.458069
Ballarat           858.450971   931.657316   877.625069  796.629896
Bendigo            905.851382   983.638244   890.852922  848.111098
Brisbane           719.445749   745.502009   622.285619  620.189060
Cairns             471.419972   492.232930   405.228499  387.545756
Canberra           986.259554  1065.810739   925.246385  860.714946
Cobar              924.597595   936.761906   847.028813  765.032090
CoffsHarbour       861.589325   801.147773   710.342194  652.386202
Dartmoor           845.202469   896.980511   865.867749  820.048392
Darwin             445.366632   428.021477   280.595954  278.545635
GoldCoast          673.314049   667.470731   579.429553  589.182606
Hobart             683.369039   836.299032   828.848113  666.841990
Katherine          652.515189   604.619582   326.968742  327.946724
Launceston         887.577640   995.338468   903.007101  828.368761
Melbourne          805.576517   826.016443   782.079214  729.194335
MelbourneAirport   747.088139   812.512235   793.820136  668.919821
Mildura            906.526405   921.509736   833.700096  794.882486
Moree              914.441197   928.433912   768.774725  745.876939
MountGambier       804.363970   862.591929   857.377479  771.136697
MountGinini       1010.476968  1079.225133  1023.762299  877.189918
Newcastle                 NaN          NaN          NaN         NaN
Nhil               883.788440   950.482343   895.480537  797.481108
NorahHead          761.086250   713.031085   649.859698  595.416515
NorfolkIsland      598.060505   629.438881   589.245150  608.273885
Nuriootpa          865.431935   942.183739   890.031912  791.872525
PearceRAAF         870.000494   835.350792   860.961380  772.531581
Penrith            842.805089   888.097494   751.535206  706.362405
Perth              873.628474   842.299179   857.749572  756.608546
PerthAirport       845.940289   831.264480   835.459476  742.107442
Portland           723.071388   811.109134   827.492962  715.298233
Richmond           894.152256   955.616884   784.375863  734.429472
Sale               815.796500   971.099754   853.243354  757.353188
SalmonGums         961.270898   944.615895   954.077013  869.817465
Sydney             747.955673   778.018487   656.619175  595.041205
SydneyAirport      729.471629   748.476266   634.828495  552.683847
Townsville         569.248531   566.930268   403.724207  372.149156
Tuggeranong       1017.148172  1088.977193   969.069412  894.800532
Uluru              925.647913   875.850433   742.903136  678.887443
WaggaWagga         917.637329  1003.837407   858.346081  849.163988
Walpole            761.499436   788.068628   782.397323  733.444630
Watsonia           817.745258   866.871326   819.539590  747.988065
Williamtown        779.600350   864.566576   686.753549  681.233107
Witchcliffe        784.097388   806.387985   817.977187  786.973654
Wollongong         673.629743   702.463338   638.722006  556.152903
Woomera            874.468067   844.405848   756.112725  648.418047


month                     11          12
Location
Adelaide          713.118065  600.141116
Albany                   NaN         NaN
Albury            736.410541  608.009791
AliceSprings      508.338515  364.343714
BadgerysCreek     664.563255  527.064136
Ballarat          817.551342  724.613747
Bendigo           781.654081  638.313650
Brisbane          464.574960  414.883295
Cairns            356.888278  340.896912
Canberra          780.057644  620.986916
Cobar             649.493922  428.199196
CoffsHarbour      544.296427  431.655283
Dartmoor          825.704014  749.928278
Darwin            252.880688  256.648834
GoldCoast         475.173196  414.012367
Hobart            683.805693  612.884229
Katherine         247.037076  248.451428
Launceston        772.565044  719.251883
Melbourne         722.400425  621.948195
MelbourneAirport  745.409864  625.599323
Mildura           686.972031  572.158382
Moree             597.303060  379.902560
MountGambier      804.930367  734.666761
MountGinini       839.314432  761.331045
Newcastle                NaN         NaN
Nhil              772.368752  676.458649
NorahHead         517.711938  437.516245
NorfolkIsland     528.833509  548.226037
Nuriootpa         813.130076  667.571828
PearceRAAF        689.742330  614.914627
Penrith           593.132201  479.931897
Perth             661.712730  581.795326
PerthAirport      658.747544  573.735925
Portland          736.622145  732.139206
Richmond          618.210998  495.208773
Sale              696.991801  644.314167
SalmonGums        801.657918  671.522735
Sydney            511.139389  411.004822
SydneyAirport     494.181206  398.168634
Townsville        335.741671  280.465239
Tuggeranong       790.257809  634.663570
Uluru             487.753981  359.007701
WaggaWagga        760.067747  580.864205
Walpole           783.727762  701.597150
Watsonia          747.975302  632.782223
Williamtown       593.005626  457.539037
Witchcliffe       787.700322  704.250062
Wollongong        541.958232  460.809756
Woomera           559.867643  461.583968

[49 rows x 24 columns]